<div class="todos-container">
  <header>Inbox</header>
  <main>
    <div class="tasks-list" *ngIf="!isLoading">
      <div class="task-container" *ngFor="let task of tasks">
        <input
          type="checkbox"
          (click)="onSelectTask($event.target.checked, task.id)"
        />
        <div class="task-content">
          <p>{{ task.title }}</p>
          <p>{{ task.date }}</p>
        </div>
      </div>
    </div>
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  </main>
  <app-footer></app-footer>
</div>
