div {
  background-color: #1b77ff;
}

.upper-frame {
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  position: relative;

  mat-slide-toggle {
    position: absolute;
    left: 9vh;
    transform: scale(1.2);

    .fa-sun {
      color: yellow;
    }

    .fa-moon {
      color: #f06292;
    }
  }
}

.left-frame {
  width: 8vh;
  height: 92vh;
  position: absolute;
  left: 0;
}
