<div class="todos-container">
  <header>Completed</header>
  <main>
    <div class="tasks-list">
      <div class="task-container" *ngFor="let task of tasks">
        <button (click)="onDeleteTask(task.id)">
          <i class="fa-sharp fa-solid fa-trash"></i>
        </button>
        <div class="task-content">
          <p>{{ task.title }}</p>
          <p>{{ task.date }}</p>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <form action="/add-todo">
      <button class="add-task" type="submit">
        <i class="fa-regular fa-plus"></i> <span>Add Task</span>
      </button>
    </form>
  </footer>
</div>
