.tool-bar-container {
  width: 20%;
  min-width: 15rem;
  height: 78vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 14vh;
  border-right: 1px solid #ddd;

  ul {
    height: 25vh;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    .active {
      color: var(--accent-color);

      a {
        color: var(--accent-color);
      }
    }

    li {
      display: flex;
      gap: 3vh;
      font-size: 18px;

      &,
      a {
        color: var(--text-color);
        text-decoration: none;
        font-weight: bold;

        &:hover {
          color: var(--accent-color);
          cursor: pointer;
        }
      }
    }
  }
}
