<div class="todos-container">
  <header>Upcoming</header>
  <main>
    <div class="tasks-list">
      <div class="task-container" *ngFor="let task of tasks">
        <input type="radio" [name]="task.id" (click)="onSelectTask()" #radio />
        <div class="task-content">
          <p>{{ task.title }}</p>
          <p>{{ task.date }}</p>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <form action="/add-todo">
      <button type="submit">
        <i class="fa-regular fa-plus"></i> <span>Add Task</span>
      </button>
    </form>
  </footer>
</div>
